<div id="content">
  <p id="notice"><%= notice %></p>
  <h1 id="pageTitle">Knotlyr</h1>

  <%= select_tag "lists", options_from_collection_for_select(@lists, "id", "name", @list.id) %>

  <div id="addNewItemWrapper">
    <input type="text" id="addItemName"/><button id="addItemBtn">Add</button>
  </div>

  <div id="listWrapper">
    <ul id="itemList">
      <% if @list.items.empty? %>
        <li id="emptyItem">List is empty.</li>
      <% else %>
        <!-- TODO: Create helper to create an item. -->
        <% @list.items.each do |item| %>
            <li id="item-<%= item.id %>">
              <span class="itemName"><%= item.name %></span>
              <button class='deleteItem'>X</button>
            </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<!--
  TODO:
  -create template for pages
  -colors for lists?
  -autocomplete old items
  -mobile site
  -start page w/ explanation.
  -named route for list names?
 -->
